body {
  font-family: Arial, sans-serif;
  background-color: #f0f4ff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.perfil {
  background-color: white;
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 50%;
}

h1 {
  color: #3366ff;
}

ul {
  text-align: left;
}
